@font-face {
  font-family: 'Asta Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/AstaSans-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Asta Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/AstaSans-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Asta Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/AstaSans-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Asta Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/AstaSans-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Asta Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/AstaSans-800.ttf') format('truetype');
}