@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asta Sans Font */
.asta-sans {
  font-family: "Asta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-black bg-white;
    font-family: "Asta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}